.navbar {
  list-style-type: none;
  width: 100%;
  display: flex;
  gap: 10px;
}

.navbar li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  /* background-color: royalblue; */
}



