
.burger-menu {
  display: none;
  bottom: 0;
  top: 60px;
  height: calc(100% - 60px);
  width: 400px;
  border-right-style: solid;
  border-width: 1px;
  border-color: #1a1a1a;
  position: fixed;
  font-size: 18px;
  font-weight: 700;
  /* background-color: #303030d2; */
  background-color: #ced4daf1;
  
}

.burger-menu.show {
  display: unset;
  /* transform: scale(1.1); */
}

.burger-menu hr {
  margin: auto;
}

.burger-menu ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: flex-start;
  font-weight: 900;
  
  
}

.burger-menu li {
  display: flex;
  /* justify-content: flex-end; */
  flex-grow: 1;
  /* max-height: 150px; */
  padding-left: 100px;
  
}

.burger-menu a {
  border-width: 1px;
  box-shadow: 10px;
  
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.burger-menu a:hover {
  /* background-color: #2e2e2e; */
  /* color: #a0e4ff; */
  background-color: #F8F9FA;
  
}

@media (max-width: 800px) {
  .burger-menu {
    width: 100%;
  }

  .burger-menu a {
    justify-content: center;
  }
}