
.burger-menu {
  display: none;
  bottom: 0;
  top: 60px;
  height: calc(100% - 60px);
  width: 25%;
  border-right-style: solid;
  position: fixed;
  font-size: 20px;
  
}

.burger-menu.show {
  display: unset;
  /* transform: scale(1.1); */
  transition: 2s ease-in-out;
}

.burger-menu ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: flex-start;
  
  font-size: 16px;
  
}

.burger-menu li {
  display: flex;
  /* justify-content: flex-end; */
  flex-grow: 1;
  /* max-height: 150px; */
  
}

.burger-menu button {
  border-width: 1px;
  box-shadow: 10px;
  background-color: #f8f9faa6;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.burger-menu button:hover {
  /* background-color: #2e2e2e; */
  /* color: #a0e4ff; */
  background-color: #ffffffe7;
}

@media (max-width: 800px) {
  .burger-menu {
    width: 100%;
  }

  .burger-menu button {
    justify-content: center;
  }
}