
.burger-menu {
  bottom: 0;
  height: calc(100% - 80px);
  width: 25%;
  border-right-style: solid;
  position: fixed;
}

.burger-menu ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: flex-start;
  
  font-size: 16px;
  
}

.burger-menu li {
  display: flex;
  /* justify-content: flex-end; */
  flex-grow: 1;
  /* max-height: 150px; */
  
}

.burger-menu button {
  /* text-align: start; */
  border-width: 1px;
  padding-left: 20px;
  /* border-bottom-style: solid; */
  box-shadow: 10px;
  background-color: #f8f9faa6;
  flex-grow: 1;
  /* flex-basis: 1px; */
  display: flex;
  align-items: center;
}

.burger-menu button:hover {
  background-color: #2e2e2e;
  color: #ffffff;
}

@media (max-width: 800px) {
  .burger-menu {
    width: 100%;
  }
}