.carousel {
  display: flex;
  height: 210px;
  width: 320px;
  background-color: #1f1f1f;
  justify-content: center;
  align-items: center;
}

.carousel-image {
  height: 180px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.carousel button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  /* background-color: #ffffff4f; */
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel button:hover {
  background-color: #ffffff4f;
}

.carousel button span {
  /* padding-right: 5px; */
  padding-bottom: 5px;
}

.carousel-image button:first-child span {
  padding-right: 3px;
}
.carousel-image button:last-child span {
  padding-left: 3px;
}