


.shop-article-list {
  padding: 40px 10px;
  height: 100%;
  display: flex;
  list-style-type: none;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;

}

.shop-article-list li {
  flex-basis: 250px;
  flex-shrink: 1;
  /* background-color: rgb(155, 155, 155); */
  height: 250px;
  border-style: solid;
  border-width: 1px;
}

