


.shop-article-list {
  padding: 10px;
  height: 100%;
  display: flex;
  list-style-type: none;
  gap: 20px;
  flex-wrap: wrap;
  /* justify-content: center; */

}

.shop-article-list li {
  width: 140px;
  height: 140px;
  
  /* background-color: rgb(155, 155, 155); */
  
  border-style: solid;
  border-width: 1px;
}

