#app {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: inherit;
}

#app header {
  width: 100%;
  min-height: 100px;
  flex-grow: 0.1;
  display: flex;
  justify-content: space-evenly;
  background-color: #f1f2f6;
  font-weight: 700;
}

header .navbar:nth-child(2) {
  justify-content: flex-end;
  /* background-color: red; */
  flex-shrink: 2;
}

header .navbar:first-child {
  justify-content: flex-start;
  margin-left: 20px;
  
}
header .navbar:last-child {
  justify-content: flex-end;
  margin-right: 20px;
  flex-shrink: 2;
}

header .shop {
  background-image: url("../assets/shopr.png");
  background-size: cover;
  padding: 30px;
}

header .shop:hover {
  transform: scale(1.1);
}


header .logo {
  background-image: url("../assets/patate.png");
  background-size: cover;
  padding: 30px;
}

header .logo:hover {
  transform: scale(1.1);
}

header .burger {
  background-image: url("../assets/burger.png");
  background-size: cover;
  padding: 30px;
  margin-right: 100px;
}

header .navbar:first-child li:last-child {
  
  flex-grow: 2;
  /* margin-right: 30px; */
  /* background-color: red; */
}

header .navbar:last-child .link:hover {
  background-color: #303030;
  color: #ffffff;
  border-style: solid;
  border-radius: 8px;
  transform: scale(0.8);
  transition-duration: 0.5s;
}


#app main {
  background-color: #ffffff;
  flex-grow: 4;
  width: 100%;
  /* height: 830px; */
}



