#app {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: inherit;
}

#app header {
  width: 100%;
  min-height: 100px;
  flex-grow: 0.1;
  display: flex;
  /* justify-content: space-between; */
  background-color: #f1f2f6;
}

header .navbar:first-child {
  justify-content: flex-start;
}
header .navbar:last-child {
  display: flex;
  justify-content: flex-end;
}

header .shop {
  background-image: url("../assets/shopr.png");
  background-size: cover;
  padding: 30px;
}

header .shop:hover {
  transform: scale(1.1);
}


header .logo {
  background-image: url("../assets/patate.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px;
}

header .logo:hover {
  transform: scale(1.1);
}

header .navbar:first-child .link {
  /* background-color: #f1f1f1; */
  border-left-style: solid;
  border-right-style: solid;
  border-radius: 8px;
  border-color: #303030;
  border-width: 2px;
  width: 90%;
  padding: 20px 0;
  text-align: center;
  font-size: 1.8 rm;
  transition-duration: 0.5s;
  /* font-weight:  */
}

header .navbar:first-child .link:hover {
  background-color: #303030;
  color: #ffffff;
  border-style: solid;
  border-radius: 8px;
  transform: scale(0.8);
  transition-duration: 0.5s;
}


#app main {
  background-color: #ffffff;
  flex-grow: 4;
  width: 100%;
  /* height: 830px; */
}



