#app {
  display: flex;
  flex-wrap: wrap;
}

#app main {
  background-image: url("../assets/wailord.jpg");
  background-size: cover;
  flex-grow: 4;
  width: 800px;
}

#app aside {
  flex-grow: 0.5;
  display: flex;
  flex-direction: column;
  width: 200px;
}

#app aside .navbar {
  flex-grow: 1;
}

#app aside div {
  flex-grow: 3;
}

