#app {
  display: flex;
  /* flex-direction: column; */
}

#app .imagedisplay {
  flex-grow: 4;
}
#app aside {
  flex-grow: 0.5;
  display: flex;
  flex-direction: column;
}

#app aside .navbar {
  flex-grow: 1;
}

#app aside div {
  flex-grow: 3;
}

