
.shop-article {
  background-color: #ffffff;
  height: 100%;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  
}

.shop-article-name {
  position: absolute;
  
  bottom: 0;
  right: 0;
}