.index {
  display: flex;
  
  /* align-items: center; */
  height: 100%;
  flex-wrap: wrap;
  
}



.index .post {
  padding: 20px;
  
}


.index > section {
  flex-grow: 1;
  
}

@media (max-width: 425px) {
  .index {
    grid-template-columns: 100%;
  }
}