.index {
  display: grid;
  
  /* align-items: center; */
  height: 100%;
  /* flex-wrap: wrap; */
  grid-template-columns: repeat(2, auto);;
  grid-template-rows: repeat(2, auto);
}



.index .post {
  padding: 20px;
  flex: 1 1 320px;
}


.index > section {
  flex-grow: 1;
  
}

@media (max-width: 425px) {
  .index {
    grid-template-columns: 100%;
  }
}